body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px
}
.box {
    text-align: center;
}
.box div:nth-child(2) {
    margin: 5px 0;
}
.box div:nth-child(3) button {
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
}
.box div:nth-child(3) button:nth-child(1) {
    background-color: #dc3545;
    border-color: #dc3545;
}
.box div:nth-child(3) button:nth-child(2) {
    background-color: #6c757d;
    border-color: #6c757d;
}
.box div:nth-child(3) button:nth-child(3) {
    background-color: #198754;
    border-color: #198754;
}